.footer{
    background:#020617;
    color:white;
    padding:40px 20px;
    text-align:center;
    margin-top:80px;
}

.footer h2{
    color:#f97316;
    margin-bottom:10px;
}

.footer p{
    color:#94a3b8;
    margin:8px 0;
}

.copyright{
    margin-top:20px;
    font-size:14px;
}