.search-wrapper{
    display:flex;
    justify-content:center;
    margin:40px 0;
}

.search-container{
    width:650px;
    max-width:90%;
    display:flex;
    align-items:center;
    background:#1e293b;
    border:2px solid transparent;
    border-radius:50px;
    padding:16px 24px;
    transition:.3s;
}

.search-container:hover{
    border-color:#3b82f6;
}

.search-container:focus-within{
    border-color:#3b82f6;
    box-shadow:0 0 20px rgba(59,130,246,.25);
}

.search-icon{
    color:#94a3b8;
    font-size:20px;
    margin-right:15px;
}

.search-input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    color:white;
    font-size:18px;
}

.search-input::placeholder{
    color:#94a3b8;
}