.movies-page{
    min-height:100vh;
    background:#0b1120;
    padding:60px 6%;
}

.movies-page h1{
    color:white;
    font-size:48px;
    text-align:center;
}

.movies-page p{
    color:#94a3b8;
    text-align:center;
    margin:15px 0 40px;
}

.movie-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:35px;
    justify-items:center;
}