.movie-details {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  gap: 50px;
  align-items: flex-start;
  padding: 20px;
}

.movie-poster img {
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.movie-info {
  flex: 1;
}

.movie-info h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: white;
}

.movie-info p {
  color: #d1d5db;
  font-size: 18px;
  margin: 12px 0;
}

.movie-description {
  margin-top: 20px;
  line-height: 1.8;
}

.movie-rating {
  font-size: 28px;
  margin: 20px 0;
}

.review-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.star-rating {
  display: flex;
  gap: 10px;
}

.star {
  font-size: 36px;
  color: #666;
  cursor: pointer;
  transition: 0.3s;
}

.star:hover {
  transform: scale(1.2);
}

.star.active {
  color: gold;
}

.review-section textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1f2937;
  color: white;
  font-size: 16px;
  resize: vertical;
}

.review-btn {
  width: 180px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #f97316;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.review-btn:hover {
  background: #ea580c;
}

.reviews-list {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

.reviews-list h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 32px;
}

.review-card {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: .3s;
}

.review-card:hover {
  transform: translateY(-5px);
}

.review-card h3 {
  color: #f97316;
  margin-bottom: 10px;
}

.review-card p {
  color: #d1d5db;
  line-height: 1.7;
}

.stars {
  color: gold;
  font-size: 20px;
  margin: 10px 0;
}
.delete-btn{
    margin-top:15px;
    padding:10px 18px;
    border:none;
    border-radius:8px;
    background:#dc2626;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

.delete-btn:hover{
    background:#b91c1c;
    transform:scale(1.05);
}